name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        include:
          - os: macos-latest
            BUILD_FLAGS: CGO_ENABLED=1 CGO_LDFLAGS="-framework CoreFoundation -framework Security -framework SystemConfiguration"
            BINARY_SUFFIX: darwin-amd64
          - os: ubuntu-latest
            BUILD_FLAGS: CGO_ENABLED=0
            BINARY_SUFFIX: linux-amd64

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Build
      run: |
        ${{ matrix.BUILD_FLAGS }} go build -o bwkeysync-${{ matrix.BINARY_SUFFIX }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: binaries
        path: bwkeysync-${{ matrix.BINARY_SUFFIX }}

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        name: binaries
        path: ./binaries

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ./binaries/bwkeysync-darwin-amd64
          ./binaries/bwkeysync-linux-amd64
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
