name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.26.0'
      - run: go mod download
      - name: Run Tests
        run: make test
      - name: Build
        env:
          CGO_LDFLAGS: "-lm"
        run: go build -o bwkeysync .
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bwkeysync
          path: bwkeysync
