name: Build BwKeySync

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gcc-multilib g++-multilib libc6-dev-i386

      - name: Install ARM64 build dependencies
        if: matrix.goarch == 'arm64'
        run: |
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Build BwKeySync
        env:
          CGO_ENABLED: 1
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          if [ "${GOARCH}" = "arm64" ]; then
            export CC=aarch64-linux-gnu-gcc
          fi
          mkdir -p dist/${GOOS}_${GOARCH}
          go build -v -ldflags="-extldflags=-lm" -o dist/${GOOS}_${GOARCH}/BwKeySync ./main.go

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BwKeySync-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/${{ matrix.goos }}_${{ matrix.goarch }}/
  
      - name: Create Git Tag
        id: tag
        uses: mathieudutour/github-tag-action@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/${{ matrix.goos }}_${{ matrix.goarch }}/BwKeySync
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
