name: Release BwKeySync

on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Go Release Binaries
        uses: wangyoucao577/go-release-action@v1.53
        with:
          go_version: '1.23'
          build_command: 'go build -v -ldflags=-extldflags=-lm -o BwKeySync ./main.go'
          asset_name: 'BwKeySync-${{ matrix.goos }}-${{ matrix.goarch }}'